<h2 class="page-header">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields')%>
    <div class="button-row form-row-end">
        <a class="button button-primary" href="/books/<%= book.id %>">Cancel</a>
    <button class="button button-primary" type="submit">Update</button>
    </div>
</form>