Search Books
<form action="/books" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value=<%= searchOptions.title %>>
    </div>
    <button type="submit">Search</button>
</form>
<br>
<% books.forEach(book => { %>
    <div className="book">
        <div>
            <img height="150px" width="100px" src="<%= book.coverPath %>" alt="book cover">
        </div>
        <div><%= book.title %></div>
    </div>
<% }) %>