<header>
  <nav class="header-nav">
      <div class="header-nav-content">
        <a class="header-title" href="/">Library</a>
        <div>
          <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
          </ul>
        </div>
      </div>
  </nav>
</header>
