<h2 class="page-header">Author Detail</h2>

<div class="authors">
  <div class="author-row">
    <div class="author-name">Name: <%=author.name%></div>
    <div class="button-row">
      <a class="button button-primary" href="/authors/<%= author.id %>/edit"
        >Edit</a
      >
      <%- include('../partials/deleteForm', { url: `/authors/${author.id}`}) %>
    </div>
  </div>
</div>

<% if(books.length > 0){ %>
    <h3>Books by Author</h3>
    <%- include('../partials/bookGrid', { books: books})%> 
<% } %>
